
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  width: 100%; 
  padding: 90px;
}

.corte-caja-container, .reporte-ventas-container {
  width: 80%; 
  max-width: 800px; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff; 
}

.card-header {
  background-color: #957DAD; 
  color: #ffffff; 
  border-radius: 15px 15px 0 0;
  padding: 10px; 
  text-align: center; 
  font-size: 24px; 
}

.card-body {
  padding: 20px; 
}

.form-group {
  margin-bottom: 20px; 
  width: 100%;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-row .form-group {
  flex: 1;
}

.form-row .form-group:not(:last-child) {
  margin-right: 20px;
}

.form-control {
  border-radius: 8px;
  padding: 10px;
  font-size: 16px; 
  width: 95%;
}

.btn-purple {
  background-color: #D291BC; 
  border-color: #D291BC;
  color: #ffffff;
  border-radius: 8px; 
  padding: 10px 20px; 
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

.btn-purple:hover {
  background-color: #B565A7; 
  border-color: #B565A7;
}

.table {
  margin-top: 20px;
}

.table thead {
  background-color: #957DAD; 
  color: #ffffff; 
}

.table-bordered {
  border: 1px solid #dee2e6;
  border-radius: 15px;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}

.text-white {
  color: #ffffff ;
}

.bg-lightpurple {
  background-color: #957DAD;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9173cc;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  color: #d4c1f3;
}

.navbar i {
  margin-right: 8px;
}
.flecha{
  margin-top: 90px;
  font-size: 24px;
color: #000;
text-decoration: none;
margin-left: 30px;
}