<!--HU03-CRUD-Corte de caja
Carmen Catalina Delgado Manzano-->
<div class="navbar">
  <a [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Inicio de sesión</a>
  <a [routerLink]="['/principal']"><i class="fas fa-home"></i> Página principal</a>
  <a [routerLink]="['/clientesfrecuentes']"><i class="fas fa-users"></i> Clientes frecuentes</a>
  <a [routerLink]="['/pedidosaproveedor']"><i class="fas fa-shopping-cart"></i> Pedidos</a>
  <a [routerLink]="['/proveedores']"><i class="fas fa-truck"></i> Proveedores</a>
  <a [routerLink]="['/entregasproveedor']"><i class="fas fa-shipping-fast"></i> Entregas</a>
  <a [routerLink]="['/inventarios']"><i class="fas fa-boxes"></i> Inventarios</a>
  <a [routerLink]="['/cortedecaja']"><i class="fas fa-cash-register"></i> Corte Caja</a>
  <a [routerLink]="['/reportes']"><i class="fas fa-chart-line"></i> Informes</a>
</div>
<div class="flecha">
  <a routerLink="/menu" class="back-icon">
    <i class="fas fa-arrow-left"></i>
  </a>
</div>

<div class="centered-container">
  <div class="corte-caja-container card">
    <div class="card-header">CORTE DE CAJA</div>
    <div class="card-body center-content">
      <div class="form-group">
        <label for="claveEmpleado">Clave Empleado</label>
        <input type="text" class="form-control" id="claveEmpleado">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="clavePrimerTicket">Clave de su Primer Ticket</label>
          <input type="text" class="form-control" id="clavePrimerTicket">
        </div>
        <div class="form-group col-md-6">
          <label for="claveUltimoTicket">Clave de su Último Ticket</label>
          <input type="text" class="form-control" id="claveUltimoTicket">
        </div>
      </div>
      <div class="form-group">
        <label for="fechaInicio">Fecha de Inicio</label>
        <input type="date" class="form-control" id="fechaInicio">
      </div>
      <button type="button" class="btn btn-purple btn-block" (click)="corteDeCaja()">Corte de Caja</button>
    </div>
  </div>

   <!-- Segunda parte: Reporte de Ventas (solo se muestra si showReport es verdadero) -->
   <div *ngIf="showReport" class="container corte-caja-container card">
        
        <div class="card-header">REPORTE DE VENTAS</div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Caja</th>
                <th>Nombre Empleado</th>
                <th>Total de Ventas</th>
                <th>Fecha Inicio</th>
                <th>Fecha de Término</th>
                <th>Monto a Entregar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>{{employeeId}}</td>
                <td>40</td>
                <td>{{date}} 8:00 a.m.</td>
                <td>{{date}} 16:00 p.m.</td>
                <td>$2354.23</td>
              </tr>
            </tbody>
          </table>
          <br>
          <button type="button" class="btn btn-purple btn-block" (click)="closeReport()">Salir</button>
        </div>
      </div>
    </div>
