.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9173cc;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.navbar a:hover {
    color: #d4c1f3;
}

.navbar i {
    margin-right: 8px;
}
.flecha{
    margin-top: 90px;
    font-size: 24px;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}
/*  Estilos para la Tabla (si se usa en algún lugar*/

table {
    width: 100%; /* La tabla ocupa todo el ancho disponible */
    border-collapse: collapse; /* Quita los espacios entre las celdas */
    margin-top: 20px; /* Espaciado superior */
}

table, th, td {
    
    border: 1px solid #da95d0; /* Bordes ligeros para la tabla y celdas */
}

th, td {
    padding: 10px; /* Relleno interno para celdas */
    text-align: left; /* Texto alineado a la izquierda */
}

/* Estilo para las cabeceras de la tabla */
th {
    background-color: #5b3d99; /* Fondo púrpura oscuro */
    color: rgb(198, 150, 212); /* Color de texto */
}

/* Estilo para las celdas de la tabla */
td {
    background-color: #993f3f; /* Fondo gris claro */
}

/* Estilo para botones dentro de las celdas */
td button {
    background-color: #5b3d99; /* Fondo púrpura oscuro */
    border: none; /* Sin bordes */
    color: #fff; /* Texto blanco */
    padding: 8px 16px; /* Relleno interno */
    margin-right: 5px; /* Espaciado derecho */
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer; /* Muestra un cursor de mano */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Cambia el color del botón al pasar el ratón */
td button:hover {
    background-color: #48257f; /* Fondo púrpura más oscuro */
}

/*Estilos para el Contenedor de Proveedores */

/* Contenedor principal para el formulario de proveedores */
.provider-container {
    margin-top: 70px; /* Espacio superior para evitar la superposición con la barra de navegación */
    margin-bottom: 20px;
    padding: 80px; /* Relleno interno */
    background-color: #c39aca; /* Fondo blanco */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 10px; /* Bordes redondeados */
    width: 400px; /* Ancho del contenedor */
    max-width: 80%; /* Ancho máximo del 90% del viewport */
    height: 90%;
    text-align: center; /* Centrar el texto dentro del contenedor */
}

/* Estilo para los campos del formulario */
.provider-container form {
    margin-top: 20px;
    display: flex; /* Flexbox para alinear los elementos del formulario */
    flex-direction: column; /* Dirección en columna */
}

/* Estilo para las etiquetas del formulario */
.provider-container form label {
    margin: 10px 0 5px; /* Margen superior e inferior */
    font-weight: bold; /* Texto en negrita */
}

/* Estilo para los campos de entrada del formulario */
.provider-container form input {
    margin-bottom: 10px; /* Espacio inferior entre campos */
    padding: 8px; /* Relleno interno */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    width: calc(100% - 16px); /* Ancho del campo de entrada */
}

/* Estilo para los botones dentro del formulario */
.provider-container form .form-button-container {
    margin-top: 40px; /* Espacio superior */
}

.provider-container form .form-button-container button {
    background-color: #977dcb; /* Fondo púrpura oscuro */
    border: none; /* Sin bordes */
    color: #ffffff; /* Texto blanco */
    padding: 10px 50px; /* Relleno interno */
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer; /* Muestra un cursor de mano */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Cambia el color del botón al pasar el ratón */
.provider-container form .form-button-container button:hover {
    background-color: #48257f; /* Fondo púrpura más oscuro */
}

/* Estilo para el contenedor de opciones del proveedor */
.provider-options {
    margin-top: 20px; /* Espacio superior */
    text-align: center; /* Centrar texto */
}

/* Estilo para los botones de opciones de proveedor */
.provider-options .provider-option-btn {
    background-color: #977dcb; /* Fondo púrpura oscuro */
    border: none; /* Sin bordes */
    color: #fff; /* Texto blanco */
    padding: 10px 20px; /* Relleno interno */
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer; /* Muestra un cursor de mano */
    margin-top: 20px; /* Espacio superior */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    margin-right: 20px;

}

/* Cambia el color del botón al pasar el ratón */
.provider-options .provider-option-btn:hover {
    background-color: #48257f; /* Fondo púrpura más oscuro */
}