<!--HU02-CRUD Interfaz proveedores
Ríos Ríos Carol Guadalupe-->
<div class="navbar">
    <a href="index.html"><i class="fas fa-home"></i>Inicio</a>
    <a href="pedidos.html"><i class="fas fa-shopping-cart"></i>Pedidos</a>
    <a href="proveedores.html"><i class="fas fa-users"></i>Proveedores</a>
    <a href="entregas.html"><i class="fas fa-truck"></i>Entregas</a>
</div>

<div class="container eliminar-proveedor-page">
    <h1><i class="fas fa-trash-alt"></i> Eliminar Proveedor</h1>
    
    <form>
        <input type="text" placeholder="Nombre" required>
        <input type="text" placeholder="Edad" required>
        <input type="text" placeholder="Producto" required>
        <input type="text" placeholder="Empresa" required>
        <button type="submit">Confirmar Eliminación</button>
    </form>
</div>
