<!--HU08-CRUD Login (Empleado, Administrador)
Carol Rios Rios-->
<div class="navbar_idx">
    <a href="index.html"><i class="fas fa-home"></i>Inicio</a>
    <a href="pedidos-a-proveedor.components.html"><i class="fas fa-box-open"></i>Pedidos</a>
    <a href="proveedores.components.html"><i class="fas fa-users"></i>Proveedores</a>
    <a href="entregas-proveedor.html"><i class="fas fa-truck"></i>Entregas</a>
</div>

<div class="container index-page">
    <h1>Inicio de Sesión</h1>
    <form>
        <input type="text" placeholder="Usuario" required>
        <input type="password" placeholder="Contraseña" required>
        <button type="submit">Iniciar Sesión</button>
        <a href="#" class="forgot-password">¿Olvidó su contraseña?</a>
    </form>
</div>
