.index-page {
    background-color: #df86e2;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.index-page h1 {
    color: #5b3d99;
    margin-bottom: 20px;
}

.index-page input[type="text"], 
.index-page input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.index-page button {
    width: 100%;
    padding: 10px;
    background-color: #5b3d99;
    border: none;
    color: #788cff;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

.index-page button:hover {
    background-color: #48257f;
}

.index-page .forgot-password {
    display: block;
    margin-top: 10px;
    color: #5b3d99;
}

.index-page .forgot-password:hover {
    text-decoration: underline;
}