.inventariosfrecuentes-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 50px 30px 50px 40px;
    background-color: bisque;
    width: 95%;
}

.inventariosfrecuentes-content-wrapper {
    display: flex;
    flex: 1;
}

.description-categoria {
    background-color: antiquewhite;
    height: 5px;
    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.inventariosfrecuentes-sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.inventariosfrecuentes-sidebar h2 {
    margin-top: 0;
}

.inventariosfrecuentes-sidebar .radio-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.radio-option {
    display: flex;
    align-items: center;
   
}

.radio-option input[type="radio"] {
    margin-right: 15px;
}
.radio-options .radio-option{
    margin-top: 100px; 
}

.radio-options .radio-option + .radio-option {

    margin-top: 70px; 
}

.inventariosfrecuentes-main-content {
    flex: 1;
    padding: 20px;
}

.inventariosfrecuentes-main-content h2 {
    margin-top: 0;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.inventory-table th, 
.inventory-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}


.buttons button {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}

.buttons button:last-child {
    margin-right: 0;
}

.title-categorias {
    background-color: rgb(250, 144, 243);
    height: 5%;
    text-align: center;
    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.color-body {
    background-color: antiquewhite;
    height: 680px;
    border: 1px solid #ccc;
    padding: 4px;
    margin-top: 10px;
}

.conteiner-articulos {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}