<!--HU02-CRUD Interfaz proveedores
Riós Riós Carol Guadalupe-->
<div class="navbar_idx">
    <a href="index.html"><i class="fas fa-home"></i>Inicio</a>
    <a href="pedidos-a-proveedor.component.html"><i class="fas fa-shopping-cart"></i>Pedidos</a>
    <a href="proveedores.component.html"><i class="fas fa-users"></i>Proveedores</a>
    <a href="entregas-proveedor.html"><i class="fas fa-truck"></i>Entregas</a>
</div>

    <div class="container editar-proveedor-page">
        <h1><i class="fas fa-edit"></i> Editar Proveedor</h1>
        
        <form>
            <input type="text" placeholder="Nombre" required>
            <input type="text" placeholder="Edad" required>
            <input type="text" placeholder="Producto" required>
            <input type="text" placeholder="Empresa" required>
            <button type="submit">Confirmar Cambios</button>
        </form>
    </div>