<!--HU02-CRUD Interfaz proveedores
Riós Riós Carol Guadalupe-->
<div class="navbar">
    <a [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Inicio de sesión</a>
    <a [routerLink]="['/principal']"><i class="fas fa-home"></i> Página principal</a>
    <a [routerLink]="['/clientesfrecuentes']"><i class="fas fa-users"></i> Clientes frecuentes</a>
    <a [routerLink]="['/pedidosaproveedor']"><i class="fas fa-shopping-cart"></i> Pedidos</a>
    <a [routerLink]="['/proveedores']"><i class="fas fa-truck"></i> Proveedores</a>
    <a [routerLink]="['/entregasproveedor']"><i class="fas fa-shipping-fast"></i> Entregas</a>
    <a [routerLink]="['/inventarios']"><i class="fas fa-boxes"></i> Inventarios</a>
    <a [routerLink]="['/cortedecaja']"><i class="fas fa-cash-register"></i> Corte Caja</a>
    <a [routerLink]="['/reportes']"><i class="fas fa-chart-line"></i> Informes</a>
    
  </div>
  <div class="flecha">
    <a routerLink="/proveedores" class="back-icon">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
    <div class="container editar-proveedor-page">
        <h1><i class="fas fa-edit"></i> Editar Proveedor</h1>
        
        <form>
            <input type="text" placeholder="Nombre" required>
            <input type="text" placeholder="Edad" required>
            <input type="text" placeholder="Producto" required>
            <input type="text" placeholder="Empresa" required>
            <button type="submit">Confirmar Cambios</button>
        </form>
    </div>