.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9173cc;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.navbar a:hover {
    color: #d4c1f3;
}

.navbar i {
    margin-right: 8px;
}
.flecha{
    margin-top: 90px;
    font-size: 24px;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}
.reportes-page {
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 70px;
    max-width: 1700px; 
    max-height: 1000;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    height: 800px;
    
}

.reportes-page h1 {
    color: #48257f;
    text-align: center;
}

.reportes-page .reportes-filtros {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.reportes-page .reportes-filtros button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #5b3d99;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.reportes-page .reportes-filtros button:hover {
    background-color: #48257f;
}

.reportes-page table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 30px;
}

.reportes-page th, 
.reportes-page td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.reportes-page th {
    background-color: #5b3d99;
    color: white;
}

.reportes-page .reportes-descarga {
    display: flex;
    justify-content: center;
}

.reportes-page .reportes-descarga button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #5b3d99;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.reportes-page .reportes-descarga button:hover {
    background-color: #48257f;
    
}

