.menu-container {
  background-color: #E0BBE4;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 90px;
}

.back-icon {
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

.menu-header h1 {
  color: #957DAD;
  text-align: center;
  flex-grow: 1;
}

.menu-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu-item {
  background-color: #957DAD;
  border-radius: 20px;
  padding: 35px;
  text-align: center;
  width: 150px;
  transition: transform 0.3s;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item i {
  font-size: 32px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .menu-content {
    flex-direction: column;
    align-items: center;
  }

  .menu-item {
    width: 100%;
    max-width: 300px;
  }
}