<!--UNIÓN CON HU1-CRUD Interfaz Venta Diaria
Delgado Manzano Carmen Catalina-->
<div class="menu-container">
  <header class="menu-header">
    <a href="#" class="back-icon">
      <i class="fas fa-arrow-left"></i>
    </a>
    <h1>MENÚ</h1>
  </header>
  <div class="menu-content">
    <div class="menu-item">
      <a routerLink="/principal">
        <i class="fas fa-home"></i>
        <span>Página Principal</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/proveedores">
        <i class="fas fa-user-friends"></i>
        <span>Registrar proveedores</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/inventarios">
        <i class="fas fa-boxes"></i>
        <span>Inventarios</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/cortedecaja">
        <i class="fas fa-cash-register"></i>
        <span>Corte de Caja</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/reportes">
        <i class="fas fa-clipboard-list"></i>
        <span>Informes</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/login">
        <i class="fas fa-sign-in-alt"></i>
        <span>Inicio de Sesión</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/pedidosaproveedor">
        <i class="fas fa-sign-in-alt"></i>
        <span>Pedidos a Proveedor</span>
      </a>
    </div>
      <div class="menu-item">
        <a routerLink="/entregasproveedor">
          <i class="fas fa-sign-in-alt"></i>
          <span>Entregas proveedor</span>
        </a>
  </div>
</div>