.notificaciones-container {
  padding: 20px;
  background-color: #d0b4f1; /* color morado global */
}

h2 {
  text-align: center;
  color: #6a0dad; /* ajusta el color según tu preferencia */
}

.notification-date {
  background-color: #8e8989;
  padding: 5px 10px;
  margin: 10px 0;
  font-weight: bold;
  border-radius: 10px;
  width: 8%;
  text-align: center;
}

.notification-card {
  border: 1px solid bla#bb6868;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}

.notification-card.not-attended {
  background-color: #cb5862;
  border-color: #44090f;
}

.notification-card.resolved {
  background-color: #36b954;
  border-color: #c3e6cb;
}

.notification-header, .notification-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Tres columnas iguales */
  align-items: center;
  text-align: center;
}
.notification-header {
  border-bottom: 2px solid #ccc; /* Línea separadora debajo de los encabezados */
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.notification-header span, .notification-content span {
  padding: 10px;
  border-right: 1px solid #ccc; /* Añadido borde derecho para separación vertical */
}

.notification-header span:last-child, .notification-content span:last-child {
  border-right: none; /* Quitar borde derecho del último elemento */
}

.order-button {
  display: block;
  margin: 10px auto;
  padding: 5px 15px;
  background-color: #d0b4f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.order-button:hover {
  background-color: #a373e7;
}

.status {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.9em;
  color: #3a3097; /* color para no atendido */
}

.notification-card.resolved .status {
  color: #e08031; /* color para resuelto */
}