body {
  background-color: #E0BBE4; /* Color de fondo de la página */
  font-family: Arial, sans-serif;
}

h1, h2 {
  color: #000000;
  text-align: center;
  margin-top: 20px;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.login-container, .order-container, .provider-container, .delivery-container,
.provider-edit-container, .provider-delete-container {
  background-color: #b09cda ;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px; /* Aumentar el ancho máximo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}