.pedidos-page {
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 100px;
    max-width: 1700px; 
    max-height: 1000;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    height: 800px;
 
}

.pedidos-page h1 {
    color: #48257f;
    font-size: 2em;
}

.pedidos-page .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pedidos-page .product-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pedidos-page .product-item img {
    max-width: 100%;
    border-radius: 4px;
}

.pedidos-page .product-info {
    margin-top: 10px;
}

.pedidos-page .product-actions {
    margin-top: 10px;
    text-align: center;
}

.pedidos-page .product-actions button {
    background-color: #5b3d99;
    border: none;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.pedidos-page .product-actions button:hover {
    background-color: #48257f;
}

.pedidos-page .order-buttons {
    text-align: center;
    margin-top: 20px;
}

.pedidos-page .order-buttons button {
    width: 30%;
    padding: 10px;
    background-color: #5b3d99;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 10px 5px 0;
    border-radius: 4px;
    text-align: center;
}

.pedidos-page .order-buttons button:hover {
    background-color: #48257f;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9173cc;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.navbar a:hover {
    color: #d4c1f3;
}

.navbar i {
    margin-right: 8px;
}
.flecha{
    margin-top: 90px;
    font-size: 24px;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}