
.sales-content {
    background-color: #B39DDB;
    border: 2px solid #9575CD;
    padding: 20px;
    width: 90%;
    max-width: 1900px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 220px;
}

.sales-title {
    background-color: rgb(92, 10, 185);
    padding: 18px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
    font-size: xx-large;
}

.sales-table-content {
    margin-top: 30px;
}

.sales-barcode {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.sales-barcode .barcode-icon {
    margin-right: 10px;
}

.sales-barcode input {
    padding: 20px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    width: 40%;


}

.sales-table-container {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 40px;
}

.sales-table {
    width: 100%;
    border-collapse: collapse;
}

.sales-table thead {
    background-color: rgb(92, 10, 185);
    color: white;
}

.sales-table th, 
.sales-table td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.sales-totals {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.totals-left, 
.totals-right {
    display: flex;
    flex-direction: column;
    width: 45%;
    
}

.totals-left div, 
.totals-right div {
    background-color: blanchedalmond;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: initial;
    margin-top: 7px;
}

.sales-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sales-buttons button, 
.sales-buttons select {
    background-color: #E1BEE7;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-size: x-large;
}

.sales-buttons button:hover, 
.sales-buttons select:hover {
    background-color: #CE93D8;
}

.sales-bottom-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.sales-bottom-buttons button {
    background-color: #E1BEE7;
    border: none;
    padding: 20px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    font-size: xx-large
}

.sales-bottom-buttons button:hover {
    background-color: #88408e;
}

.sales-bottom-buttons .notification-button {
    padding: 20px 0;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sales-bottom-buttons .notification-button .fa-bell {
    font-size: 24px;
}

.barcode-icon .fa-barcode {
    font-size: 32px;
}