.registrar-entrega-page {
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 100px;
    max-width: 1700px; 
    max-height: 1000;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    height: 800px;
}

.registrar-entrega-page h1 {
    color: #48257f;
    text-align: center;
}

.registrar-entrega-page form {
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.registrar-entrega-page table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.registrar-entrega-page th,
.registrar-entrega-page td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.registrar-entrega-page th {
    background-color: #5b3d99;
    color: white;
}

.registrar-entrega-page input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.validate-btn, .save-btn {
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.validate-btn {
    background-color: #5b3d99;
}

.save-btn {
    background-color: #48257f;
}

.validate-btn:hover {
    background-color: #3c2e6f;
}

.save-btn:hover {
    background-color: #371f66;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9173cc;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.navbar a:hover {
    color: #d4c1f3;
}

.navbar i {
    margin-right: 8px;
}
.flecha{
    margin-top: 90px;
    font-size: 24px;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}