.register-h1-custom {
    text-align: center;
}
.register-form-custom {
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 550px;
  

}
.register-label-custom {
    display: block;
    margin-bottom: 10px;
    font-size:larger;
    
    
}
.register-input-custom[type="text"],
.register-input-custom[type="email"],
.register-input-custom[type="tel"] {
    width: 96%;
    padding: 10px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 20px;
 

}
.register-submit-custom {
    background-color: #c382d2;
    color: #fff;
    padding: 13px 29px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; 

}
.register-submit-custom:hover {
    background-color: #c779fc;
}
.flecha{
    margin-top: 90px;
    font-size: 24px;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
} 
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9173cc;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
  }
  
  .navbar a:hover {
    color: #d4c1f3;
  }
  
  .navbar i {
    margin-right: 8px;
  }