<div class="navbar">
    <a [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Inicio de sesión</a>
    <a [routerLink]="['/principal']"><i class="fas fa-home"></i> Página principal</a>
    <a [routerLink]="['/clientesfrecuentes']"><i class="fas fa-users"></i> Clientes frecuentes</a>
    <a [routerLink]="['/pedidosaproveedor']"><i class="fas fa-shopping-cart"></i> Pedidos</a>
    <a [routerLink]="['/proveedores']"><i class="fas fa-truck"></i> Proveedores</a>
    <a [routerLink]="['/entregasproveedor']"><i class="fas fa-shipping-fast"></i> Entregas</a>
    <a [routerLink]="['/inventarios']"><i class="fas fa-boxes"></i> Inventarios</a>
    <a [routerLink]="['/cortedecaja']"><i class="fas fa-cash-register"></i> Corte Caja</a>
    <a [routerLink]="['/reportes']"><i class="fas fa-chart-line"></i> Informes</a>
  </div>
<div class="flecha">
    <a routerLink="/menu" class="back-icon">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
<div class="register-body-custom">
    <h1 class="register-h1-custom">Registro de Clientes Frecuentes</h1>
    <form id="register-form" class="register-form-custom">
        <label class="register-label-custom" for="customer-key">Clave de Cliente:</label>
        <input class="register-input-custom" type="text" id="customer-key" name="customer-key" required>

        <label class="register-label-custom" for="name">Nombre:</label>
        <input class="register-input-custom" type="text" id="name" name="name" required>

        <label class="register-label-custom" for="email">Correo Electrónico:</label>
        <input class="register-input-custom" type="email" id="email" name="email" required>

        <label class="register-label-custom" for="phone">Número de Teléfono:</label>
        <input class="register-input-custom" type="tel" id="phone" name="phone" required>
        <button class="register-submit-custom" (click)="verListaClientes()">Ver lista de clientes frecuentes</button>
        <input class="register-submit-custom" type="submit" value="Registrar Cliente Frecuente">
        <button class="register-submit-custom" id="edit-clients-btn">Editar Clientes</button>
    </form>
    <script>
        const form = document.getElementById('register-form');

        form.addEventListener('submit', function(event) {
            event.preventDefault();

            const customerKey = document.getElementById('customer-key').value;
            const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;
            const phone = document.getElementById('phone').value;
            const frequency = document.getElementById('frequency').value;

            const client = {
                customerKey,
                name,
                email,
                phone,
                frequency,
                history: []
            };

            let clients = JSON.parse(localStorage.getItem('clients')) || [];
            clients.push(client);
            localStorage.setItem('clients', JSON.stringify(clients));

            form.reset();
        });

        const editClientsBtn = document.getElementById('edit-clients-btn');

        editClientsBtn.addEventListener('click', function() {
          // Agrega aquí la lógica para editar clientes
          console.log('Editar clientes...');
        });
    </script>
</div>
